<h1>AJAX Project 3</h1>
<p>This is the third project for the AJAX class I am taking in the Spring 2012 semester.  Here is the assignment:</p>
<p>
  Using any server-side language,
  You should create a database named blog*<br />
  Generate the database and table structure for the project <br /><br /><br />
      DATABASE: `blog` ;<br />
        TABLE: blog.users<br />
               `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY ,<br />
               `user_id` VARCHAR( 500 ) NOT NULL ,<br />
               `password` VARCHAR( 500 ) NOT NULL ,<br />
               `created` DATETIME NOT NULL<br />
               <br />
        TABLE: blog.posts<br />
               `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY ,<br />
               `user_id` VARCHAR( 500 ) NOT NULL ,<br />
               `title` VARCHAR( 500 ) NOT NULL ,<br />
              `description` VARCHAR( 500 ) NOT NULL ,`created` DATETIME NOT NULL<br />
        <br />
        TABLE: blog.comments <br />      
               `id` INT NOT NULL AUTO_INCREMENT PRIMARY KEY ,<br />
               `user_id` VARCHAR( 500 ) NOT NULL ,<br />
               `post_id` INT NOT NULL ,<br />
               `description` VARCHAR ( 500 ) ,<br />
               `created` DATETIME NOT NULL<br />
  <ul>
    <li>create a login page that authenticates users against the users table - if the user is valid, allow the user to navigate to a page that displays all posts and their related comments. Otherwise, if the user is invalid display an error message.</li>
    <li>the blog posts page should meet the following criteria</li>
    <ul>
      <li>there can be no submits. all server interaction must be done using ajax</li>
      <li>display all posts (just the description) </li>
      <li>allow entry of a new post - the post should get saved to the posts table and should update the user-interface (it should be added to the list of all posts)</li>
      <li>allow any post in the list of all posts to be deleted (only if the currently logged in user created the post) - it should be removed from the db and from the user-interface. The delete process should NOT remove the corresponding comments.</li>
      <li>allow the user to comment on any post - the comment should get saved to the comments table and update the user interface (it should appear next to the related post)</li>
      <li>all comments that originated from the currently logged in user should be highlighted (ex. a different background color) from posts by other users</li>
    </ul>
  </ul>
</p>